/*
Template Name: Study space
Author: Tanay
*/

/*
Index
----------------------------------
01. Import font
02. General CSS
03. Header CSS
04. Registration CSS
*/

/* 01. Import font
--------------------------
*/
@font-face {
    font-family: "Museo Slab";
    src: url(../fonts/Museo_Slab_500italic.otf);
}
/* 02. General CSS
---------------------------
*/
body{
    font-family: "Museo Slab";
}
.form-custom{
   background-color: #f7f7f7;
   border: none;
   padding: 12px;
}
.custom-btn{
    background: linear-gradient(to right, rgba(84, 38, 62, 0.67) 0%, rgba(44, 85, 189, 0.86) 100%);
    padding: 10px;
    color: #f7f7f7;
    font-weight: 700;
    font-family: "Museo Slab";
    font-size: 24px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(84, 38, 62, 0.67) 0%, rgba(44, 85, 189, 0.86) 100%);
    float: right;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
}
.form-inline{
    display:inline-block;
}
/*  03. Header CSS
----------------------------
*/
#top-header{
    background: rgba(255,93,177,1);
    background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(51,101,230,1)));
    background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: linear-gradient(to right, rgba(84, 38, 62, 0.67) 0%, rgba(44, 85, 189, 0.86) 100%);

}
ul.navbar-nav li.nav-item a{
    color: #ffffff;
    font-size: 24px;
    font-family: "Museo Slab";

}
.navbar-dark .navbar-nav .nav-link{
    color:#ffffff;
}
.site-title{
    color: #ffffff;
    font-size: 40px;
    font-family: "Museo Slab";
    font-weight: 700;
    border-bottom: dashed 2px #ffffff;
}
#bottom-header{
    background: rgba(255,93,177,1);
    background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(51,101,230,1)));
    background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: linear-gradient(to right, rgb(113, 46, 81) 0%, rgb(60, 89, 162) 100%);

}
.search{
    float: left;
    padding: 10px;
}
.search-btn-area{
    background: #1f1e1e;
    color: #fff;
    border: none;
    padding: 6px 15px;
}
.search{
    position:relative;
}
.search-btn{
    padding-top:23px;
}
.search-btn a{
    color:#000;
}
.search-area{
    position: absolute;
    right: 0;
    top: 77px;
    z-index: 9;
    background: #fff;
    border-top: 1px solid #ff0000;}
.secondary-nav ul{
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

.secondary-nav ul li a{
    float: left;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color:#ffffff;
    font-size: 14px;
    font-family: "Museo Slab";
}

.registration ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.registration ul li a{
    float: right;
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-family: "Museo Slab";
}
/*  Registration CSS
------------------------------
*/
.title-area{
    position: relative;
}
.content-title:before{
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-left: 10px solid #5A6ACD;
    border-radius: 5px;
}
.content-title{
   background-color: #F7F7F7;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
}

/*    Footer CSS
------------------------------
*/
.newsletter-area{
    background: rgba(255,93,177,1);
    background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(51,101,230,1)));
    background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: linear-gradient(to right, rgba(84, 38, 62, 0.67) 0%, rgba(44, 85, 189, 0.86) 100%);
}
.subscriber-title,.subscriber-des{
    color: #ffffff;
    font-family: "Museo Slab";
}
.form-subscriber{
    background-color: #5c6db2;
    color: #ffffff;
    border: 3px solid #fffefe;
}
input.form-subscriber:focus {
    background-color: #5c6db2;
    color: #ffffff;
}
input.form-subscriber::placeholder {
    color: #ffffff;
}
.btn-subscriber{
    background: #7288D7;
    padding: 9px;
    border: none;
    color: #ffffff;
    font-weight: 700;
}
.footer-area{
    background: rgba(255,93,177,1);
    background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(51,101,230,1)));
    background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(51,101,230,1) 100%);
    background: linear-gradient(to right, rgb(113, 46, 81) 0%, rgb(60, 89, 162) 100%);
}
.footer-menu-title{
    color: #ffffff;
    font-family: "Museo Slab";
    border-bottom: dashed 2px #ffffff;
}
.footer-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-menu ul li a{
    color: #ffffff;
    text-decoration: none;
    font-family: "Museo Slab";
    font-style: normal;
}
.footer-bottom{
    background: linear-gradient(to right, rgba(239,197,202,1) 0%, rgba(186,39,55,1) 0%, rgba(210,75,90,1) 0%, rgba(137,78,195,1) 100%);
    height: 20px;
}